body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
  }
  
html {
    height: -webkit-fill-available;
  }

main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    /* height: -webkit-fill-available; */
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
  }

.fixed{
    width: 300px;
    height: 100%;
    background-color: aquamarine;
}

.container{
    margin-left: 0;
    margin-right: 0;
}

